@model List<ProdutoViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h2>Produtos à venda</h2></center>
<br />
<div class="fundo-vitrine">
    <img src="~/images/carrinho.png" />
    Há @ViewBag.TotalCarrinho produtos no carrinho.
    <a href="/Carrinho/Visualizar">Visualizar</a>
</div>
<br />
<br />
<div class="fundo-vitrine">
    <ul class="ul-vitrine">
        @foreach (var produto in Model)
        {
            <li class="li-vitrine">
                <a href="/Carrinho/Detalhes/?idProduto=@produto.Id">
                    <figure class="figura-vitrine">
                        <img class="imagem-vitrine" src="data:image/jpeg;base64,@produto.Imagem">
                        <figcaption>
                            @produto.Nome<br>
                        </figcaption>
                    </figure>
                </a>
            </li>
        }
    </ul>
</div>

@section Styles {
    <link href="@Url.Content("~/css/carrinho.css")" rel="stylesheet" type="text/css" />
}
