@model List<ItemCarrinhoViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Produtos no carrinho</h2>
<br />
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Produto</th>
                <th scope="col">Imagem</th>
                <th scope="col">Quantidade</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Nome</td>
                    <td>
                        <img src="data:image/jpeg;base64,@item.Imagem" class="img-thumbnail" alt="@item.Nome" width="100">
                    </td>
                    <td>@item.Quantidade</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<div class="text-center">
    <a href="/Carrinho/Index" class="btn btn-primary">Continuar Comprando</a>
    <a href="/Carrinho/EfetuarPedido" class="btn btn-success">Fechar Pedido</a>
</div>
