html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

fieldset {
    margin: 20px;
    padding: 0 10px 10px;
    border: 1px solid #666;
    border-radius: 8px;
    padding-top: 10px;
}

legend {
    padding: 2px 4px;
}

/* Custom class for the home page image */
.img-fluid {
    max-width: 75%;
    height: auto;
}

.star-rating {
    direction: rtl;
    display: inline-block;
    unicode-bidi: bidi-override;
    font-size: 2rem;
    color: #ddd;
    cursor: pointer;
}

.star-rating input {
    display: none;
}

.star-rating label {
    display: inline-block;
    position: relative;
    padding: 0
}

.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input:checked ~ label {
    color: #f5b301;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
