@{
    ViewData["Title"] = "Sobre Nós";
}

<h3>Sobre a Plataforma de E-commerce</h3>

<p>Bem-vindo à nossa plataforma de e-commerce! Nossa missão é fornecer uma experiência de compra online excepcional, combinando tecnologia avançada com um serviço ao cliente de alta qualidade.</p>

<h4>Os Criadores</h4>

<p>Esta plataforma foi criada por dois alunos:</p>

<ul>
    <li>
        <strong>Marcos Felipe Correa Soares</strong> - RA: 081220020
        <p>Implementação dos CRUDs de Produto e Review, Consultas Avançadas, Página Sobre, Uso de AJAX para Consultas Avançadas e consumo de APIs. </p>
    </li>
    <li>
        <strong>Kauê de Souza Silva</strong> - Número de Matrícula: 081220003
        <p>Modelagem do banco de dados, Implementação dos CRUDs de Usuário e pedido, Tela de Login, HTML e CSS, separação entre Admin e Usuário</p>
</ul>

<h4>Nosso Objetivo</h4>
<p>Nosso objetivo é proporcionar aos nossos clientes uma experiência de compra online sem complicações. Trabalhamos constantemente para melhorar e inovar, garantindo que nossos usuários tenham acesso às melhores ferramentas e produtos disponíveis.</p>

<h4>O que Oferecemos</h4>
<p>Nossa plataforma oferece uma ampla variedade de produtos, desde eletrônicos a vestuário, todos cuidadosamente selecionados para atender às necessidades e desejos dos nossos clientes. Além disso, garantimos transações seguras e um serviço de suporte ao cliente sempre disponível para ajudar.</p>

<h4>Entre em Contato</h4>
<p>Se você tiver alguma dúvida ou precisar de assistência, não hesite em nos contatar. Estamos aqui para ajudar e garantir que você tenha a melhor experiência possível.</p>

<p>Obrigado por escolher nossa plataforma de e-commerce. Esperamos que você aproveite sua experiência de compra conosco!</p>


