@{
    ViewData["Title"] = "Home Page";
}

<div class="container content-fluid mt-5 row-gap-5">
    <div class="row mt-5 gx-3">
        <div class="col-md-6 mt-5 pt-3">
            <img src="~/lib/img/indexImage.jpg" class="img-fluid rounded" alt="E-Commerce Store Image" style="max-width: 75%; height: auto;" />
        </div>

        <div class="col-md-6 mt-5">
            <div class="d-flex gap-5 align-content-center flex-wrap">
                <div class="row mt-5 b-3">
                    <h1 class="display-2 fw-semibold">Welcome to Our <span class="text-info">E-Commerce Store</span>,</h1>
                    <h2 class="display-5 fw-lighter">Explore our wide range of products.</h2>
                </div>
                <div class="d-flex gap-3">
                    <a asp-controller="Produto" asp-action="Index" class="rounded-pill btn btn-lg btn-info mr-3">Shop Now</a>
                    <a asp-controller="Login" asp-action="Index" class="rounded-pill btn btn-lg btn-outline-info mr-3">Sign In</a>
                </div>
            </div>
        </div>

    </div>
</div>
