@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<fieldset id="areaFiltro" class="form-group">
    <legend>Consulta avançada de Reviews</legend>
    <div class="row">
        <input value="@ViewBag.ProdutoId" id="produtoId" type="hidden" name="produtoId">
        <div class="col-lg-4">
            Nome do usuário<br />
            <input type="text" id="nomeUsuario" class="form-control" />
        </div>
        <div class="col-lg-3">
            Pontuação <br />
            <select id="pontuacao" class="form-control">
                <option value="1">☆</option>
                <option value="2">☆☆</option>
                <option value="3">☆☆☆</option>
                <option value="4">☆☆☆☆</option>
                <option value="5">☆☆☆☆☆</option>
            </select>
        </div>
        <div class="col-lg-2">
            Período <br />
            <select id="periodo" class="form-control">
                <option value="1">Análises mais Recentes</option>
                <option value="2">Análises mais Antigas</option>
            </select>
        </div>
        <div class="col-lg-1">
            <br />
            <input type="button" id="btnFiltro" class="btn btn-success" value="Aplicar"
                   onclick="aplicaFiltroConsultaAvancadaReviews()" />
        </div>
    </div>
</fieldset>
<div id="resultadoConsulta" class="table-responsive">
</div>

