@model List<ReviewsViewModel>
<table class="table table-striped">
    <tr>
        <th>Código</th>
        <th>Usuário</th>
        <th>Descrição</th>
        <th>Pontuação</th>
    </tr>
    @foreach (var review in Model)
    {
        <tr>
            <td>@review.Id</td>
            <td>@review.NomeUser</td>
            <td>@review.Descricao</td>
            <td>☆ @review.Pontuacao/5,0</td>
        </tr>
    }
</table>